
.header {
    padding: 20px;
    background-color: var(--color-accent);
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    color: var(--color-text);
}

.link:hover {
    color: var(--color-hover);
    cursor: pointer;
}